.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.highlightme{
  padding-left: 0.15em;
  padding-top: 0.01em;
  padding-bottom: 0.01em;
  background-color: #0056cf;
  color: #f4f4d6;
  text-decoration: none !important;
}