.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.highlightme{
 padding-left: 0.13em;
 padding-top: 0.2em;
 background-color: #fc76c6;
 color: #103975;
 text-decoration: none !important;
}

.btn-lnd{
  border-radius: 1.5rem !important;
  color: #103975 !important ;
  background: none !important ;
  border-color: #103975 !important ; 
}

.btn-lnd:hover{
color: #ececec !important ;
background: #103975!important ;
}

.btn-lnd:active{
color: #103975!important ;
background: #fc76c6 !important;
}
.